*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
main
{
    background-color: #476ecc;
    margin: 50px auto;
    width: 400px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
}
h1
{
    border: 10px solid white;
    border-radius: 60px;
    text-align: center;
}
p
{
    text-align: center;
}
